<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="凶屋地图爬虫.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <凶屋地图爬虫.Properties.Settings>
            <setting name="DBCon_local" serializeAs="String">
                <value>server=localhost;uid=root;pwd=123456;database=awol;Charset=utf8;ConnectionTimeout=60;</value>
            </setting>
        </凶屋地图爬虫.Properties.Settings>
    </userSettings>
</configuration>